html,body{
    display: flex;
    justify-content: center;
    background-image: url(images/asteroid.jpeg);
}
canvas{
    border: 1px solid blue;
    background-color: black;
    position: absolute;
    top: 100px


}
#container{
    display: flex;
    justify-content: center;
}
header{
    color: blueviolet;
    background-color: black;
    height: fit-content;
    width: 600px;
    font-family:Astera;
    position: relative;
    text-align: center; 

}
